.header{
    background: url(/Html/images/1.jpg)
     no-repeat center center fixed;
    height: 800px;
    
}
.cardss{
    background: url(/Html/images/1.jpg)
    no-repeat center center fixed;
    height: 1500px;
}